@use "./variables" as *;

.container {
  width: 1000px;
  margin: 0 auto;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  background-color: rgb(13, 13, 13);
  display: flex;
  flex-direction: column;

  .header-content {
    display: flex;
    justify-content: center;
    padding: 30px 0 0 0;
    h1,
    h2 {
      font-family: $font-primary;
      color: $color-light;
      font-weight: 400;
      font-size: 50px;
      margin: 0;
    }

    h2 {
      font-size: 20px;
      margin-bottom: auto;
    }

    img {
      width: 70px;
    }
  }

  .open-close-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    margin: 0 auto;
    color: $color-light;
    img {
      width: 40px;
    }
  }
}

nav {
  background-color: $color-header-secondary;

  .nav-content {
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6%;

    .select-content {
      font-family: $font-primary;
      color: $color-light;

      h3 {
        font-weight: 400;
      }

      width: 15%;
      select {
        width: 100%;
        background-color: $color-header-secondary;
        border: none;
        border-bottom: 1px solid white;
        font-size: 18px;
        outline: none;
      }
    }

    select {
      width: 15%;
      color: $color-light;
      background-color: $color-header-secondary;
      border: none;
      border-bottom: 1px solid white;
      font-size: 18px;
      outline: none;
    }

    .checkbox-content {
      align-self: center;
      font-family: $font-primary;
      color: $color-light;
      font-size: 20px;
    }

    button {
      display: flex;
      background-color: $color-header-secondary;
      border: none;
      cursor: pointer;
      img {
        width: 35px;
      }
      h5 {
        height: 20px;
        width: 20px;
        background-color: $color-light;
        font-size: 17px;
        border-radius: 100%;
      }
    }

    .modal {
      @extend %modal-shopping-cart;
    }

    .hiden {
      display: none;
    }
  }
}

.modal {
  @extend %modal-shopping-cart;
}

.hiden {
  display: none;
}

.search-products {
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: 10px;

  input {
    width: 50%;
    background-color: $color-card-bg;
    outline: none;
    border-radius: 10px 0 0 10px;
  }

  button {
    width: 50px;
    background-color: $color-header-secondary;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    img {
      width: 30px;
    }
  }
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  font-family: $font-secondary;
  margin-top: 30px;
  margin-bottom: 100%;
  gap: 10px;
  .product {
    display: flex;
    flex-direction: column;
    background-color: $color-card-bg;
    border-radius: 20px;
    border: 1px solid gray;

    * {
      margin: 7px 0;
    }

    img {
      width: 100%;
      height: 230px;
      object-fit: cover;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      margin: 0;
    }

    h3,
    h2 {
      font-weight: 400;
      padding-left: 10px;
    }

    .current-sizes {
      margin-left: 10px;
      display: flex;
      gap: 3%;
      h4 {
        width: 30px;
        text-align: center;
        border-radius: 5px;
        background-color: rgb(173, 171, 171);
      }
    }

    button {
      @extend %btn-default;
    }
  }
  .no-results {
    grid-column: 1/4;
    text-align: center;
  }
}

.out-stock {
  cursor: not-allowed;

  .current-sizes {
    text-decoration: line-through;
  }
}

.not-allowed {
  cursor: not-allowed;
}

.bottom-nav {
  background-color: $color-header-secondary;
  padding: 10px 0 10px 0;

  .bottom-nav-content {
    display: flex;
    justify-content: center;
    gap: 10%;
    color: $color-light;
    font-family: $font-secondary;
    .column {
      text-align: center;
      h2 {
        font-weight: 500;
        font-size: 18px;
      }

      ul {
        padding: 0;
        margin: 0;
      }

      li {
        font-weight: 300;
        font-size: 13px;
        list-style: none;
        a {
          text-decoration: none;
          color: $color-light;
        }
      }
    }
  }
}
footer {
  background-color: rgb(13, 13, 13);
}

.footer-content {
  padding: 25px 0;
  h2 {
    text-align: center;
    font-family: $font-secondary;
    font-weight: 400;
    color: $color-light;
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .product-container {
    flex: 1;
  }
}

//Media breakpoints
@media screen and (max-width: 1024px) {
  .container {
    width: 870px;
  }

  .product-container {
    gap: 5px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 740px;
  }

  .product-container {
    .product {
      img {
        height: 190px;
      }
    }
  }
}

@media screen and (max-width: 764px) {
  .container {
    width: 600px;
  }

  .search-products {
    input {
      width: 70%;
    }
  }

  .product-container {
    grid-template-columns: repeat(2, 1fr);
    .product {
      img {
        height: 220px;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .container {
    width: 500px;
  }

  .product-container {
    .product {
      img {
        height: 180px;
      }
    }
  }
}

@media screen and (max-width: 570px) {
  header {
    .header-content {
      h1,
      h2 {
        font-size: 35px;
      }

      img {
        width: 50px;
      }
    }
  }

  .container {
    width: 450px;
  }

  nav {
    .nav-content {
      flex-direction: column;
      flex-direction: column-reverse;
      text-align: center;
      gap: 10px;
      font-size: 14px;

      .select-content {
        width: 60%;
      }

      .checkbox-content {
        display: flex;
        align-items: center;
        input {
          width: 20px;
          height: 20px;
        }
      }

      button {
        img {
          width: 35px;
        }
      }
    }
  }

  .product-container {
    .product {
      img {
        height: 170px;
      }
    }
  }

  footer {
    .footer-content {
      h2 {
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 470px) {
  .container {
    width: 370px;
  }

  .product-container {
    .product {
      border-radius: 10px;
      * {
        margin: 3px 0;
      }

      img {
        width: 100%;
        height: 130px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      h2 {
        font-size: 17px;
      }

      h3 {
        font-size: 15px;
      }

      .current-sizes {
        margin-left: 5px;
        gap: 1%;
        flex-wrap: wrap;
        h4 {
          width: 25px;
        }
      }
    }
  }

  footer {
    background-color: rgb(13, 13, 13);
  }

  .footer-content {
    padding: 25px 0;
    h2 {
      text-align: center;
      font-family: $font-secondary;
      font-weight: 400;
      color: $color-light;
    }
  }
}

@media screen and (max-width: 380px) {
  .container {
    width: 330px;
  }

  .modal {
    width: 300px;

    .selected-product {
      width: 290px;
    }
  }

  .product-container {
    grid-template-columns: repeat(1, 300px);
    justify-content: center;

    .product {
      img {
        height: 230px;
      }
    }
  }
}
